<h1>Note Detail</h1>

<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title"><%= note.title %></h5>
    <p class="card-text"><%= note.content %></p>
    <form
      class="d-inline"
      action="<%= `/notes/${note._id}?_method=DELETE` %>"
      method="post"
    >
      <input class="btn btn-danger btn-sm" type="submit" value="Delete" />
    </form>
    <form
      class="d-inline"
      action="<%= `/notes/${note._id}/update` %>"
      method="get"
    >
      <input class="btn btn-warning btn-sm" type="submit" value="Update" />
    </form>
  </div>
</div>
